/*
    Root and body
*/
:root {
    --main-cl: #FFE81F;
    --main-bg: #141313;
    --main-font: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body {
    background-color: var(--main-bg);
    color: var(--main-cl);
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    scroll-behavior: smooth;
    display:flex;
    flex-direction:column;
}

/*
    Page elemnts: nav, main(.body) and  footer
*/
nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;

    transition: background-color .5s ease-in-out, border-color .75s ease-in-out;
}
    nav.bg {
        background-color: var(--main-bg);
        border-color: var(--main-cl);
    }
.body {
    flex: 1;
    padding: 1em;
    margin-top: 3em;
    width: calc(100% - 0.7em);
    max-width: 800px;
    margin-inline: auto;

}
    .body.center {
        display: grid;
        place-items: center;
    }
footer {
    margin-bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: smaller;
}
@media only screen and (max-width: 768px) {
    /*
        Behaviour on mobile
    */
    nav {
        /* Already the same as nav.bg in desktop */
        background-color: var(--main-bg);
        border-color: var(--main-cl);
    }

}
/*
    Where the stars must be positioned (fixed or absolute)
*/
.star {
    position: fixed;
}

/*
    Img helper style
*/
.img {
    width: 90%;
    max-width: 400px;
    margin-inline: auto;
    height: auto;
    overflow: hidden;
    padding: 0;
    display: block;
}
    .img > :is(svg, img, picture) {
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
    }

/*
    Text helper style
*/
.justify {
    text-align: justify;
}
label.center {
    text-align: center;
    display: inline-block;
    width: 100%;
}
::selection {
    color: var(--main-bg);
    background-color: var(--main-cl);
}

/*
    Links
*/
.link {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-cl);
}
    .link:visited {
        color: var(--main-cl);
    }
    .link:hover {
        text-decoration: underline;
    }

/*
    Custom icons: images from svgrepo.com
*/
i {
    color: var(--main-cl);
    background-color: transparent;
    width: 1em;
    height: 1em;
    display: inline-block;
    background-size: cover;
    font-style: normal;
    user-select: none;
}
    i::after {
        content: ' ';
        width: 1em;
        height: 1em;
        background-color: transparent;
        background-size: cover;
    }
    i.user, i.user::after {
        background-image: url('../assets/img/user.svg');
    }
    
    i.lock, i.lock::after {
        background-image: url('../assets/img/lock.svg');
    }
    
    i.email, i.email::after {
        background-image: url('../assets/img/email.svg');
    }
    
    i.edit, i.edit::after {
        background-image: url('../assets/img/edit.svg');
    }
    
    i.delete, i.delete::after {
        background-image: url('../assets/img/delete.svg');
    }
    
    i.it, i.it::after {
        background-image: url('../assets/img/italy.svg');
    }
    
    i.en, i.en::after {
        background-image: url('../assets/img/united-kingdom.svg');
    }

/*
    Headers
*/
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    user-select: none;
    cursor: auto;
    font-family: var(--main-font);
    width: calc(100% - 2em);
    margin-inline: 1em;
    min-height: 1em;
}
    :is(h1, h2, h3, h4, h5, h6).aurebesh[data-content] {
        position: relative;
        content: ' ';
        display: inline-block;
        cursor: zoom-in;
    }
        :is(h1, h2, h3, h4, h5, h6).aurebesh[data-content]::before,
        :is(h1, h2, h3, h4, h5, h6).aurebesh[data-content]::after {
            content: attr(data-content);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            transition: opacity .7s ease-in-out;
        }
        :is(h1, h2, h3, h4, h5, h6).aurebesh[data-content]::before {
            opacity: 1;
            font-family: 'Aurebesh';
        }
        :is(h1, h2, h3, h4, h5, h6).aurebesh[data-content]::after {
            opacity: 0;
            font-family: var(--main-font);
            text-transform: uppercase;
        }
            :is(h1, h2, h3, h4, h5, h6).aurebesh[data-content]:hover::before {
                opacity: 0;
            }
            :is(h1, h2, h3, h4, h5, h6).aurebesh[data-content]:hover::after {
                opacity: 1;
            }

/*
    Horizontal menu class
*/
.h-menu {
    display: grid;
    width: 100%;
    height: 3em;
    margin: 0;
    padding: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr;
    user-select: none;
}
    .h-menu.items-1 {
        grid-template-columns: 100%;
    }
    .h-menu.items-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .h-menu.items-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .h-menu.items-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .h-menu.items-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .h-menu.items-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .h-menu.items-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .h-menu > a {
        display: block;
        width: 100%;
        cursor: pointer;
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        color: var(--main-cl);
        transition: height ease-in-out .3s;
    }
        .h-menu > a > div {
            position: absolute;
            top: 0;
            height: 100%;
            max-height: 100%;
            overflow: hidden;
            transition: all .4s ease-in-out; 
        }
        .h-menu > a > .icon {
            left: 35%;
            width: 30%;
            z-index: 3;
            display: block;
        }
            .h-menu > a > .icon > img {
                height: 100%;
                max-height: 100%;
                aspect-ratio: 1;
            }
            .h-menu > a:hover > .icon {
                left: 10%;
            }
        .h-menu > a > .text {
            right: 0;
            width: 100%;
            opacity: 0; 
            z-index: 2;
            display: grid;
            place-items: center; 
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
        }
            .h-menu > a:hover > .text {
                opacity: 1;
                width: 50%;
                right: 10%;
                font-size: 1.5em;
            }
    .h-menu > .hamburger {
        display: none;
        width: 100%;
        height: 3em;
    }
        .h-menu > .hamburger > input[type="checkbox"] {  
            display: none;
        }
        .h-menu > .hamburger > label {  
            height: 3em;
            cursor: pointer;
            display: flex;
            justify-content: center;
        }
            .h-menu > .hamburger > label > img {  
                height: 100%;
                max-height: 100%;
                aspect-ratio: 1;
                display: none;
            }
                .h-menu > .hamburger > input[type="checkbox"]:not(:checked) + label > img.hamburger {  
                    display: block;
                }
                .h-menu > .hamburger > input[type="checkbox"]:checked + label > img.close {  
                    display: block;
                }
@media only screen and (max-width: 768px) {
    /*
        Behaviour on mobile: becomes a vertical menu
    */
    .h-menu {
        grid-template-columns: 1fr !important;
        grid-template-rows: unset;
        height: auto;
        max-height: unset;
    }
        .h-menu > a {
            height: 3em;
        }
            .h-menu > a > .icon {
                left: 10%;
            }
            .h-menu > a > .text {
                opacity: 1;
                right: 10%;
                width: 50%;
                font-size: 1.5em;
            }
        .h-menu > .hamburger {
            display: block;
        }
            .h-menu > .hamburger:has(input[type="checkbox"]:not(:checked)) ~ a {  
                height: 0 !important;
            }
}
/*
    Generic grid
*/
.grid {
    display: grid;
    width: calc(100% - 2em);
    row-gap: 10px;
    column-gap: 4px;
    padding: 1em;
}
    .grid > .span-2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid > .span-3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .grid > .span-4 {
        grid-column-start: 1;
        grid-column-end: 5;
    }


/*
    Login/register form
*/

.form {
    outline: none;
    display: block;
    box-shadow: 0 0 2em var(--main-cl);
    padding: 1.5em;
}
    .form .field {
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border-radius: 20px;
        color: var(--main-cl);
        min-height: 3em;
    }
        .form .field > div {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1em calc(100% - 1em);
            gap: 0;
        }
        .form .field i {
            margin-left: 0;
        }
        .form .field input {
            outline: none;
            border: none;
            background-color: transparent !important;
            color: var(--main-cl) !important;
            width: 100%;
            margin-right: 0;
            transition: all .5s ease-in-out;
        }
            .form .field input:active, 
            .form .field input:focus {
                border-bottom: 1px solid;
            }
            .form .field input::-moz-placeholder, 
            .form .field input:-ms-input-placeholder,
            .form .field input::placeholder {
                color: var(--main-cl);
                font-size: 0.9em;
                opacity: .5;
            }
        .form .field i {
            color: var(--main-cl);
            margin-bottom: -0.2em;
        }
    .form button {
        cursor: pointer;
        width: 75%;
        margin-inline: 12.5%;
        font-size: 1.3em;
        color: var(--main-cl);
        background-color: var(--main-bg);
        border: 1px solid;
        border-radius: .4em;
        min-height: 1.4em;
        transition: all .3s ease-in-out;
    }
        .form button:hover {
            color: var(--main-bg);
            background-color: var(--main-cl);
        }

/*
    Intro creation form
*/
.intro-form {
    margin: 3em 1em 1em 1em;
    width: calc(100% - 2em);
    height: auto;
    overflow: hidden;
}
    .intro-form label {
        user-select: none;
    }
    
    .intro-form :is(textarea, input[type="text"], select, option) {
        color: var(--main-cl);
        font-family: var(--main-font);
        border: .2px solid;
        transition: border-width .4s linear;
        max-width: 100%;
    }
        .intro-form :is(textarea, input[type="text"], select):is(:active, :focus) {
            border-width: 2px;
        }
    .intro-form input[type="text"] {
        background-color: transparent;
        height: 1.3em;
        padding: .15em 1em .15em .2em;
    }
    .intro-form textarea {
        width: 100%;
        color: var(--main-cl);
        background-color: transparent;
    }
        .intro-form textarea::selection {
            color: var(--main-bg);
            background-color: var(--main-cl);
        }
    .intro-form select {
        height: 2em;
        background-color: transparent;
        padding: .15em 1em .15em .2em;
    }
    .intro-form option {
        background-color: var(--main-bg);
    }
    .intro-form button {
        appearance: none;
        background-color: transparent;
        color: var(--main-cl);
        display: inline-block;
        line-height: normal;
        font-size: larger;

        border: 2px solid;
        border-radius: 15px;
        box-sizing: border-box;
        
        cursor: pointer;

        outline: none;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        touch-action: manipulation;
        will-change: transform;

        width: 100%;
        margin-inline: 0;

        margin-block: .3em;
        min-height: 2.1em;
        
        position: relative;
        content: ' ';
    }
    
        .intro-form button:disabled {
            pointer-events: none;
        }
    
        .intro-form button:hover {
            box-shadow: var(--main-cl) 0 6px 12px;
            transform: translateY(-3px);
        }
    
        .intro-form button:active {
            box-shadow: none;
            transform: translateY(0);
        }
        .intro-form button::before,
        .intro-form button::after {
            content: attr(title);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: opacity .7s ease-in-out;
        }
        .intro-form button::before {
            opacity: 1;
            font-family: 'Aurebesh';
        }
        .intro-form button::after {
            opacity: 0;
            font-family: var(--main-font);
            text-transform: uppercase;
        }
            .intro-form button:hover::before {
                opacity: 0;
            }
            .intro-form button:hover::after {
                opacity: 1;
            }
.tv {
    user-select: none;

    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    margin-block: .5em;
    height: auto;

    position: relative;
    display: block;
    
    background-image: url(../assets/img/tv.svg);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 555 / 471;
}
#tv {
    position: absolute;
    top: 41%;
    left: 6.6%;

    width: 75%;
    aspect-ratio: 16 / 9 !important;
    height: auto;

    border: 4px solid #819096;
    border-radius: 7px;
}

/*
    Dialogs: show original intro, accept cookie
*/
#show-originals-dialog {
    background-color: var(--main-bg);
    
    width: -moz-fit-content;
    width: fit-content;
    max-width: 85vw;
    
    height: -moz-fit-content;
    height: fit-content;
    max-height: 70vh;
    overflow: hidden;

    color: var(--main-cl);
    font-family: var(--main-font);
    padding: 2em;
}
#dialog-select {
    color: var(--main-cl);
    font-family: var(--main-font);
    border: .2px solid;
    transition: border-width .4s linear;

    width: 100%;
    height: 2em;
    margin-block: .7em;

    background-color: var(--main-bg);
    padding: .15em 1em .15em .2em;
}
#dialog-close, #accept-cookie-btn {
    appearance: none;
    background-color: transparent;
    color: var(--main-cl);
    font-size: smaller;

    border: 2px solid;
    border-radius: 15px;
    box-sizing: border-box;
    
    cursor: pointer;

    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

    width: 80%;
    margin-inline: 10%;
    height: 2.3em;
    margin-bottom: .5em;
}

    #dialog-close:disabled {
        pointer-events: none;
    }

    #dialog-close:hover {
        box-shadow: var(--main-cl) 0 6px 12px;
        transform: translateY(-3px);
    }

    #dialog-close:active {
        box-shadow: none;
        transform: translateY(0);
    }

#accept-cookie {
    background-color: rgba(0, 0, 0, .9);
    color: var(--main-cl);
    font-family: var(--main-font);

    width: 90%;
    max-width: 600px;
    margin-inline: auto;
    overflow-x: hidden;

    height: -moz-fit-content;
    height: fit-content;
    max-height: 75vh;
    overflow-y: auto;
}

/*
    Fade something out (make it slowly disappear)
*/
.fade-out {
    opacity: 1;
    -webkit-animation: fade-out 1s ease-in;
    -moz-animation: fade-out 1s ease-in;
    animation: fade-out 1s ease-in;
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
