/*
*    ./assets/view/view.css
*    included through php
*/

/*
    Main tags
*/
* {
    speak: none; /* prevent screen readers from reading */
    --color: #E2C64E;
}
body {
    margin: 0;
    background-color: black;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*min-width: 200px;*/
    min-height: 80px;
}

/*
    Generic helper to hide elements
*/
.hidden {
    display: none !important;
}
.no-cursor {
    cursor: none;
}

/*
    Loader shown on start
    with a good connection it can never appear (every loads really fast)
*/
#loader {
    display: none;
}
    body.wait #loader {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
    }
    body.wait *:not(#loader) {
        /* Halt all animations until the loader is visible */
        animation-name: none !important;
        animation-delay: unset !important;
    }
.loader {
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: Loader 1.1s infinite ease;
    animation: Loader 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

/*
    Main element
*/
#screen {
    padding: 0;
    overflow: hidden;
    aspect-ratio: 16 / 9 !important;
    position: relative;
    width: 100vw;
    height: auto;
    font-size: 1.15vw;
    background-color: transparent;
    --percentageOfHeight: calc(100vw / 1600 * 9);
    margin: calc(50vh - 50 * var(--percentageOfHeight)) 0 auto 0;
}
@media screen and (min-aspect-ratio: 16 / 9) {
    /*
        Keep all horizontal and in proportion
    */
    #screen {
        width: auto;
        height: 100vh;
        margin: 0 auto 0 auto;
        font-size: 2.3vh;
        --percentageOfHeight: 1vh;
    }
}

/*
    Style for "a long time ago in a galacy far, far away...."
*/
.intro {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
    height: 20%;
    z-index: 1;
    text-align: left;
    -webkit-animation: intro 5s ease-out 1s;
    -moz-animation: intro 5s ease-out 1s;
    -o-animation: intro 5s ease-out 1s;
    animation: intro 5s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 2.6em;
    opacity: 0;
}


/*
    Style for STAR WARS svg logo
*/
.logo {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: fit-content;
    z-index: 1;
    overflow: hidden;
    -webkit-animation: logo 13s linear 7s;
    -moz-animation: logo 13s linear 7s;
    -o-animation: logo 13s linear 7s;
    animation: logo 13s linear 7s;
    opacity: 0;
    user-select: none;
}
    .logo svg {
        width: 100%;
        height: auto;
        margin: 0;
        user-select: none;
    }

/*
    Text part
*/
#board {
    color: var(--color);
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    user-select: none;
    font-weight: bold;
    
    transform: perspective(calc(var(--percentageOfHeight) * 100)) rotateX(35deg);
    transform-origin: 50% 100%;
    
    overflow: hidden;
    height: calc(350 * var(--percentageOfHeight));
    width: 95%;
    margin: auto 2.5% 0 2.5%;

    position: absolute;
    bottom: 0;
    left: 0;
}
    #board::after {
        position: absolute;
        content: ' ';
        bottom: 60%;
        left: 0;
        right: 0;
        top: 0;
    }
/*
    Generic helper for br tags
*/
.break {
    font-size: 3.2em;
}

/*
    Main text
*/
#content {
    color: inherit;
    -webkit-animation: scroll 140s linear 18s;
    -moz-animation: scroll 140s linear 18s;
    -o-animation: scroll 140s linear 18s;
    animation: scroll 140s linear 18s;

    position: absolute;
    top: 100%;
    width: 100%;
}

.paragraph {
    color: inherit;
    font-size: 5.1em;
    word-break: keep-all;
    text-align: justify;
    user-select: none;
}
    .paragraph br {
        content: "";
        margin: 2em;
        display: block;
        font-size: 24%;
    }
/*
    Espisode X, Css strikes back
*/
#episode, #title {
    color: inherit;
    text-align: center;
    font-size: 5.8em;
    overflow-x: visible;
    overflow-y: hidden;
    word-break: keep-all;
}
#title {
    text-transform: uppercase;
}

/*
    Who created the intro, link to site. Shown after everything else has disappeared
*/
#credits {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    text-align: center;
    word-break: break-word;
    background-color: transparent;
    color:var(--color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;

    user-select: none;
    opacity: 0;
    transition: opacity 1.4s ease-in;
}
    #credits a {
        color:var(--color);
    }

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    width: 100%;
    margin-inline: 0;
    height: auto;

    overflow: hidden;
}

#restart, #share {
    cursor: pointer;
    background-color: transparent;
    color: var(--color);
    border: 2px solid;
    border-radius: 9px;
    font-size: x-large;

    width: 85%;
    margin-inline: auto;
}

/*
    Stars that form the background
*/
.star {
    position: absolute;
}